

<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item">Customers</li>
                <li class="breadcrumb-item active">List</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">CUSTOMERS</h5>

                        

                        <table class="table datatable table-secondary table-striped">
                            <thead>
                                <tr>
                                    {{!-- <th scope="col">No</th> --}}
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Controll</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each customers}}
                                <tr>
                                    {{!-- <th scope="row" class="index"></th> --}}
                                    <td>{{this.name}}</td>
                                    <td>{{this.phone}}</td>
                                    {{#if this.activeStatus}}
                                    <td id="active">Active</td>
                                    {{else}}
                                    <td id="inactive">Inactive</td>
                                    {{/if}}
                                    <td>
                                        <input type="text" hidden value="{{this._id}}" id="idField">
                                        {{#if this.blocked}}
                                        <a class="btn btn-info block" id="{{this._id}}" onclick="block('{{this._id}}')">Unblock</a>
                                        {{else}}
                                        <a class="btn btn-info block" id="{{this._id}}" onclick="block('{{this._id}}')">Block</a>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{{!-- <script>
    let index = document.getElementsByClassName('index');

    for (let i = 0; i < index.length; i++) {
        index[i].innerHTML = i + 1;
    }
</script> --}}

<script>
    function block(userId) {
        //let ids = document.getElementsByClassName('idField');
        let btn = document.getElementById(userId).innerHTML;

        $.ajax({
            url: "/admin/customers/block?id=" + userId,
            method: "POST",
            data: {
                id: userId
            },
            success: function(res){
                console.log(res);

                if(btn == 'Block'){
                    document.getElementById(userId).innerText = 'Unblock';
                } else {
                    document.getElementById(userId).innerText = 'Block';
                }
                
            }
        })

       console.log(id, btn);
            
    }

</script>