<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{title}}</title>




    

  {{!-- Styles directory --}}
  {{>styleCdn}}


  

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

</head>

<body>

<div id="load">
  <section class="loader">

    <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
      <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20"
        stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
      <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20"
        stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
      <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20"
        stroke-dasharray="0 440" stroke-linecap="round"></circle>
      <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20"
        stroke-dasharray="0 440" stroke-linecap="round"></circle>
    </svg>

  </section>
</div>





<div id="content" style="display: none;" >



  {{#if admin}}

  {{#if notActive}}
  {{else}}
  {{>admin-header}}
  {{>admin-sidebar}}
  {{/if}}

  {{else}}
  {{>user-header}}
  {{/if}}


  {{{body}}}



  {{#if admin}}
  {{else}}
  {{>footer}}
  {{/if}}




</div>


  {{!-- Scripts directory --}}
  {{>scriptCdn}}

  <script>
    console.log('hiiiiii')

      setTimeout(()=>{
      document.getElementById('load').hidden = true;
      document.getElementById('content').style.display = '';
    })
  </script>



</body>

</html>