
<div class="container-fluid  pl-5 pr-5 pt-3" style="justify-content: center;">

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb" class="pb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/orders">Order</a></li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>

    <div class="row mb-5">
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title"><span style="color: #777777">Order No.</span> {{order.orderNo}}</h3>
                    <table class="order-rable">
                        <div  id="orderDate" hidden>{{order.date}}</div>
                        
                        <tr>
                            <td>Date</td> 
                            <td id="modifiedDate"></td>
                            
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{order.totalAmount}}</td>
                        </tr>
                        <tr>
                            <td>Payment</td>
                            <td>{{order.paymentMethod}}</td>
                        </tr>
                        <tr>
                            <td>Order Status</td>
                            {{#if (eq order.status 'cancelled') }}
                            <td style="color:red">Cancelled</td>
                            {{else if (eq order.status 'pending')}}
                            <td style="color:rgb(123, 173, 6)">Item on the way</td>
                            {{else if (eq order.status 'returned')}}
                            <td style="color:red">Returned</td>
                            {{else if (eq order.status 'return-pending')}}
                            <td style="color:rgb(239, 80, 7)">Return in process</td>
                            {{else}}
                            <td style="color:green">Delivered</td>
                            {{/if}}
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Billing Address</h3>
                    <table class="order-rable">
                        <tr>
                            <td>House</td>
                            <td>{{order.address.houseName}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{order.address.city}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{order.address.state}}</td>
                        </tr>
                        <tr>
                            <td>Postcode</td>
                            <td>{{order.address.pincode}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Shipping Address</h3>
                    <table class="order-rable">
                        <tr>
                            <td>House</td>
                            <td>{{order.address.houseName}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{order.address.city}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{order.address.state}}</td>
                        </tr>
                        <tr>
                            <td>Postcode</td>
                            <td>{{order.address.pincode}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    <table class="table table-success table-stdiped">
        <thead>
            <th>No.</th>
            <th>Product</th>
            <th>Amount</th>
            <th>Quantity</th>
            <th>Total</th>
        </thead>
        <tbody>
            {{#each order.items}}
            <tr>
                <td class="index"></td>
                <td>{{this.product.productName}}</td>
                <td>{{this.product.productPrice}}</td>
                <td>{{this.quantity}}</td>
                <td class="productTotal">{{this.productTotal}}</td>
            </tr>
            {{/each}}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Subtotal:</td>
                <td id="subtotal"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Shipping:</td>
                <td>50.00</td>
            </tr>
            {{#if order.discount}}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Discount:</td>
                <td>(- {{order.discount}})</td>
            </tr>
            {{/if}}

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total:</b></td>
                <td><b>{{order.totalAmount}}</b></td>
            </tr>
            
        </tbody>
        
    </table>
    <div class="pb-3">
        <td></td>
        <td></td>
        {{#if (eq order.status 'pending')}}
        <td><a style="color: white"  class="btn btn-success">Download Invoice</a></td>
        <td><a style="color: white"   onclick="cancelOrder('{{order._id}}')" class="btn btn-danger">Cancel Order</a></td>
        {{else if (eq order.status 'delivered')}}
        <td><a style="color: white"  class="btn btn-success">Download Invoice</a></td>
        <td><a style="color: white"   onclick="returnOrder('{{order._id}}')" class="btn btn-danger">Return Order</a></td>
        {{else if (eq order.status 'returned')}}
        <td><p style="color: rgb(206, 48, 8); font-weight: bold;">The order has been returned</p></td>
        {{else if (eq order.status 'return-pending')}}
        <td><p style="color: rgb(206, 137, 8); font-weight: bold;">The order return in progress</p></td>
        {{else if (eq order.status 'cancelled')}}
        <td><p style="color: rgb(206, 34, 8); font-weight: bold;">The order has been cancelled</p></td>
        <td><a style="color: rgb(8, 64, 206); font-weight: bold;" href="/products">Shop more</a></td>
        {{/if}}
        <td></td>
        
    </div>

</div>
    
{{!-- </section> --}}







{{!-- Script to add the serial No. --}}
<script>
    let index = document.getElementsByClassName('index');

    for (let i = 0; i < index.length; i++) {
        index[i].innerHTML = i + 1;
    }
</script>

<script>
    let subtotal =0;
    let productTotal = document.getElementsByClassName('productTotal');

    for(let i=0; i<productTotal.length; i++) {
        subtotal += +productTotal[i].innerHTML;
    }

    document.getElementById('subtotal').innerHTML = subtotal;
</script>

<script>
    let timestamp = document.getElementById('orderDate').innerText;
    const day = timestamp.substring(8, 10)
    const month = timestamp.substring(4, 7);
    const year = timestamp.substring(11,15);
    const formattedDate = `${month} ${day}, ${year}`;

    document.getElementById('modifiedDate').innerHTML = formattedDate;

</script>



{{!-- cancel order scripts --}}
<script>
    function cancelOrder(orderId) {
        $.ajax({
            url: '/cancelOrder?orderId='+orderId,
            method: 'POST',
            success: function(response) {
                window.location.href = '/order/details?orderId='+orderId;
            }
        })
    }
</script>

{{!-- return order scripts --}}
<script>
    function returnOrder(orderId) {
        $.ajax({
            url: '/returnOrder?orderId='+orderId,
            method: 'POST',
            success: function(response) {
                window.location.href = '/order/details?orderId='+orderId;
            }
        })
    }
</script>
