    <div class="container-fluid pt-3">

        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb" class="pl-4 pr-5 pb-3 ml-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Whishlist</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            {{#if emptyList}}{{else}}
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                {{!-- <th class="column-2">Varient</th> --}}
                                <th class="column-3">Price</th>
                                {{!-- <th class="column-4">Quantity</th> --}}
                                {{!-- <th class="column-5">Total</th> --}}
                                <th class="column-5">Option</th>
                            </tr>
                            {{/if}}

                            {{#each products}}
                            <tr class="table_row" id="{{this.product._id}}">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img {{#each this.product.images}} src="/uploads/{{this}}" {{/each}} alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2"><a style="color: black;"
                                        href="/products/{{this.product._id}}">{{this.product.productName}}</a></td>
                                {{!-- <td class="column-2">{{this.size}} , {{this.color}}</td> --}}
                                <td class="column-3">₹ <span id="price">{{this.product.productPrice}}</span></td>
                                {{!-- <td class="column-4">
                                    <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"
                                            onclick="return minusQuantity('{{this._id}}', '{{this.product._id}}' )">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input class="mtext-104 cl3 txt-center num-product" type="number"
                                            name="num-product1" id="quantity" value="{{this.quantity}}">

                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"
                                            onclick="return addQuantity('{{this._id}}', '{{this.product._id}}')">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>
                                </td> --}}
                                {{!-- <td class="column-5">₹ <span class="totalPrice" id="total">{{this.amount}}</span></td> --}}
                                <td class="column-6"><a onclick="removeFromWishlist('{{this.product._id}}')"
                                        class="btn btn-danger">Remove from Wishlist</a></td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>

                    {{#if emptyList}}
                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm"
                            style="text-align: center; justify-content: center;">
                            <h6>The Wishlist is empty ! &nbsp&nbsp&nbsp <a href="/products">Continue Shopping</a></h6>
                        </div>
                    {{/if}}
                </div>
            </div>

            {{#if emptyList}}{{else}}
            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    
                </div>
            </div>
            {{/if}}



        </div>
    </div>



<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>


<script>
    function removeFromWishlist(productId){
        $.ajax({
            url: '/removeFromWishlist',
            method: 'POST',
            data: {
                productId: productId
            },
            success: function(response) {
                if(response.status){
                    document.getElementById(productId).style.display = 'none';
                }
            }
        })
    }
</script>